<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TMall-Test-Suite">

    <parameter name="rcHost" value="localhost" />
    <parameter name="rcPort" value="4444" />
    <parameter name="targetHostUrl" value="http://www.tmall.com" />
    <parameter name="debugging" value="true" />
    <parameter name="browser" value="firefox" />
    <parameter name="profile" value="" />
    <parameter name="driverType" value="webdriver" />
    <parameter name="actionsLogging" value="true" />
    <parameter name="tests.takeScreenshot" value="true" />

    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter" />
    </listeners>

    <test name="Test Google Search using Firefox Web Driver" preserve-order="true">
        <classes>
            <class name="org.san.test.integration.cases.TMallHomeTest" />
        </classes>
    </test>

</suite>
